	body {
		font: 400 15px Montserrat, sans-serif;
		line-height: 1.8;
		color: #fff;
		background-image: url(../images/bckgIri.jpg);
		background-size: cover;
		background-repeat: no-repeat;
  }
	.jumbotron, .container-fluid {
		background-color: transparent;
		padding: 5px;
  }
	.btn, .btn:hover{
		color: #fff;
		border-style: solid;
		border-width: 1px;
		background-color: transparent;
		border-radius: 0;
	}
	.blocks {
		border-spacing:1px;
	}
	.btn-ghost {
		border-color: #fff;
		font-weight: bold;
		font-size: 150%;
	}
	.cool {
		font-size: 110%;
		box-shadow: 0 8px 18px 0 rgba(255, 255, 255, 0.2), 0 12px 40px 0 rgba(255, 255, 255, 0.19);
	}
	.hot {
		color: #f00;
		font-size: 110%;
		border-color: #f00;
		box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	}
