  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      background-color: #79C753;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #79C753;
      font-size: 50px;
  }
  .logo {
      color: #79C753;
      font-size: 200px;
  }
   #logo {
		color: white;
    	text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px darkblue;
  }
  #resetframe {
  background-color: #4285f4;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #79C753;
  }
  .carousel-indicators li {
      border-color: #79C753;
  }
  .carousel-indicators li.active {
      background-color: #79C753;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #79C753;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #79C753;
      background-color: #fff !important;
      color: #79C753;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #79C753 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #79C753;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #79C753;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #79C753 !important;
      background-color: #fff !important;
      text-decoration: none;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #79C753;
  }
  footer p {
    float: left;
  }
  footer p + p {
    float: right;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  #heady {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background: #79C753;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddfbfc), color-stop(100%, #79c753));
    background: -webkit-linear-gradient(#ddfbfc, #79c753);
    background: -moz-linear-gradient(#ddfbfc, #79c753);
    background: -o-linear-gradient(#ddfbfc, #79c753);
    background: -ms-linear-gradient(#ddfbfc, #79c753);
    background: linear-gradient(#ddfbfc, #79c753);
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #B2D2E1;
  }
  header p.view a, #heady a {
    color: #06c;
    text-decoration: none;
  }
  #heady ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    height: 38px;
    padding: 1px 0;
    background: #5198DF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b9fb), color-stop(100%, #3782cd));
    background: -webkit-linear-gradient(#77b9fb, #3782cd);
    background: -moz-linear-gradient(#77b9fb, #3782cd);
    background: -o-linear-gradient(#77b9fb, #3782cd);
    background: -ms-linear-gradient(#77b9fb, #3782cd);
    background: linear-gradient(#77b9fb, #3782cd);
    border-radius: 5px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
    box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
    width: auto;
  }
  #heady ul:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -5px;
    top: -4px;
    right: -5px;
    bottom: -6px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  }
  header ul li, #heady ul li {
    width: 79px;
    float: left;
    border-right: 1px solid #3A7CBE;
    height: 38px;
  }
  #heady ul li.single {
    border: none;
  }
  #heady ul li + li {
    width: 78px;
    border-left: 1px solid #8BBEF3;
  }
  #heady ul li +li +li {
    border-right: none;
    width: 79px;
  }
  #heady ul a {
    line-height: 1;
    font-size: 11px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    text-align: center;
    font-weight: 400;
    padding-top: 6px;
    height: 40px;
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    text-decoration: none;
  }
  #heady ul a strong {
    font-size: 14px;
    display: block;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  @media screen and (max-width:580px) {
    #heady ul {
      display: none;
    }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {
    float: none;
  }
